$color_1: #191919;
$color_2: #e20074;
$color_3: #ffffff;
$color_4: unset;
$color_5: #b2b2b2;
$color_6: #666666;
$color_7: #0d0dec;
$color_8: #E20074;
$color_9: #fff;
$color_10: #0998fa;
$font-family_1: TeleNeoWeb, TeleNeo, sans-serif;
$font-family_2: unset;
$background-color_1: unset;
$background-color_2: #ffffff;
$background-color_3: #e20074;
$background-color_4: #f90984;
$background-color_5: white;
$background-color_6: #E20074;
$background-color_7: #fff;
$border-color_1: #e20074;
$border-color_2: #E20074;
$border-color_3: unset;
$border-color_4: #191919;
$border-color_5: #666666;

/*--------------sharing-----------------*/
/*thumbnail*/
/*hided-items-with-css*/
/*buttons*/
/* .vue-tooltip .tooltip-inner,
.vue-tooltip .tooltip-arrow{
  display: none !important;
} */
/*calendar*/
/*select-box*/
/***pending shares***/
/***pending shares***/
#app-sidebar-vue {
	padding: 1rem;
	overflow-x: hidden !important;
	overflow-y: scroll !important;
	height: calc(100vh - 190px);
	.material-design-icon__svg {
		display: none;
	}
}
.app-sidebar {
	.app-sidebar-header__figure {
		width: 100%;
		height: 125px !important;
		max-width: 216px !important;
		max-height: 125px !important;
	}
	.app-sidebar-header {
		.app-sidebar__close {
			opacity: unset !important;
			right: -4px !important;
			background-position: left center !important;
			&:hover {
				background-color: $background-color_1 !important;
			}
			&:active {
				background-color: $background-color_1 !important;
			}
			&:focus {
				background-color: $background-color_1 !important;
			}
		}
		.app-sidebar-header__info {
			flex-direction: column !important;
		}
	}
	.app-sidebar-header__desc {
		.app-sidebar-header__title-container {
			.app-sidebar-header__maintitle {
				font-size: 1rem !important;
			}
			.app-sidebar-header__subtitle {
				display: none !important;
			}
			flex: unset !important;
			max-width: 254px;
		}
		padding: 0.5rem 0.375rem 1.5rem 0 !important;
		justify-content: unset !important;
		.app-sidebar-header__tertiary-actions {
			display: none !important;
		}
	}
	.app-sidebar-header--compact.app-sidebar-header--with-figure {
		.app-sidebar-header__info {
			.app-sidebar-header__figure {
				background-size: 150px;
				width: 96px !important;
				height: 96px !important;
			}
			.app-sidebar-header__desc {
				.app-sidebar-header__menu {
					display: none !important;
				}
				.app-sidebar-header__tertiary-actions {
					top: 3px !important;
					left: -2px !important;
				}
			}
			.app-sidebar-header__figure[data-v-0307b622] {
				width: 96px !important;
				max-height: 96px !important;
				margin: 0 !important;
			}
		}
	}
}
.app-sidebar-header__desc {
	.app-sidebar-header__desc--with-tertiary-action {
		background-position: left center !important;
	}
}
ul#sharing-inherited-shares {
	display: none !important;
}
ul#collection-list {
	display: none !important;
}
li.sharing-entry__internal {
	display: none !important;
}
li.share-link-password-talk-checkbox {
	display: none !important;
}
#tab-sharing {
	.action-input__label {
		display: none !important;
	}
	ul.sharing-permissions {
		.action-radio__label {
			&::before {
				margin: 0rem 0.5rem 0.2rem 0 !important;
			}
		}
		span.action-checkbox {
			.action-checkbox__label {
				&::before {
					margin: 0rem 0.5rem 0.15rem 0 !important;
				}
			}
		}
	}
	button.status-buttons__select {
		padding: 0 1rem !important;
		min-height: 40px !important;
		border-radius: 8px !important;
		width: auto !important;
		font-family: $font-family_1;
		font-weight: normal;
		margin-top: 1rem;
		background-color: $background-color_2 !important;
		border: 1px solid #191919;
		color: $color_1;
		margin-bottom: 1.5rem;
		font-size: 0.875rem !important;
		&:hover {
			border-color: $border-color_1 !important;
			color: $color_2;
		}
		&:focus {
			border-color: $border-color_1 !important;
		}
	}
	button.status-buttons__primary {
		padding: 0 1rem !important;
		min-height: 40px !important;
		border-radius: 8px !important;
		width: auto !important;
		font-family: $font-family_1;
		font-weight: normal;
		margin-top: 1rem;
		background-color: $background-color_3 !important;
		border: 1px solid #e20074;
		color: $color_3;
		font-size: 0.875rem !important;
		&:hover {
			background-color: $background-color_4 !important;
			border: 1px solid #e20074 !important;
		}
	}
	input[type='checkbox'].radio {
		&:checked+label {
			&:before {
				box-shadow: inset 0px 0px 0px 5px #e20074 !important;
				background-color: $background-color_5 !important;
				border-color: $border-color_1 !important;
			}
		}
		&:not(:disabled) {
			&:not(:checked)+label {
				&:hover {
					&:before {
						border-color: $border-color_1 !important;
					}
				}
			}
		}
		&:focus+label {
			&:before {
				border-color: $border-color_1 !important;
			}
		}
	}
	input[type='checkbox'].radio.checkbox {
		&:indeterminate+label {
			&:before {
				box-shadow: inset 0px 0px 0px 5px #e20074 !important;
				background-color: $background-color_5 !important;
				border-color: $border-color_1 !important;
			}
		}
	}
	input[type='radio'].radio {
		&:checked+label {
			&:before {
				box-shadow: inset 0px 0px 0px 5px #e20074 !important;
				background-color: $background-color_5 !important;
				border-color: $border-color_1 !important;
			}
		}
		&:not(:disabled) {
			&:not(:checked)+label {
				&:hover {
					&:before {
						border-color: $border-color_1 !important;
					}
				}
			}
		}
		&:focus+label {
			&:before {
				border-color: $border-color_1 !important;
			}
		}
	}
	input[type='radio'].radio.checkbox {
		&:indeterminate+label {
			&:before {
				box-shadow: inset 0px 0px 0px 5px #e20074 !important;
				background-color: $background-color_5 !important;
				border-color: $border-color_1 !important;
			}
		}
	}
	input[type='checkbox'].checkbox {
		&:not(:disabled) {
			&:not(:checked)+label {
				&:hover {
					&:before {
						border-color: $border-color_1 !important;
					}
				}
			}
		}
		&:focus+label {
			&:before {
				border-color: $border-color_1 !important;
			}
		}
		&:checked+label {
			&:before {
				background-color: $background-color_6;
				border-color: $border-color_2 !important;
			}
		}
	}
	input[type='radio'].checkbox {
		&:not(:disabled) {
			&:not(:checked)+label {
				&:hover {
					&:before {
						border-color: $border-color_1 !important;
					}
				}
			}
		}
		&:focus+label {
			&:before {
				border-color: $border-color_1 !important;
			}
		}
		&:checked+label {
			&:before {
				background-color: $background-color_6;
				border-color: $border-color_2 !important;
			}
		}
	}
	input[type='checkbox'].checkbox.checkbox {
		&:indeterminate+label {
			&:before {
				background-color: $background-color_6;
				border-color: $border-color_2 !important;
			}
		}
	}
	input[type='radio'].checkbox.checkbox {
		&:indeterminate+label {
			&:before {
				background-color: $background-color_6;
				border-color: $border-color_2 !important;
			}
		}
	}
	textarea {
		color: $color_1 !important;
		border: 1px solid #191919 !important;
		height: 48px !important;
		font-size: 1rem;
		height: 220px !important;
		margin: 1rem 0.188rem 0.188rem 0 !important;
		width: 253px !important;
		&:focus {
			border-color: $border-color_1 !important;
		}
		&:hover {
			border-color: $border-color_1 !important;
		}
	}
	.action-input__input {
		min-height: unset !important;
		max-height: unset !important;
		font-size: 1rem;
	}
	.action-input__form {
		padding-right: 2.813rem ! important;
	}
	.action-input__icon {
		padding: 0 !important;
	}
	input[type='radio'][disabled].radio {
		&:checked+label {
			&:before {
				box-shadow: inset 0px 0px 0px 5px #666666 !important;
				background-color: $background-color_5 !important;
				border-color: $border-color_5 !important;
			}
		}
	}
	input[type='radio'][disabled].radio.checkbox {
		&:indeterminate+label {
			&:before {
				box-shadow: inset 0px 0px 0px 5px #666666 !important;
				background-color: $background-color_5 !important;
				border-color: $border-color_5 !important;
			}
		}
	}
	.multiselect {
		.multiselect__option {
			span[lookup] {
				.avatardiv {
					background-image: unset !important;
					background-color: $background-color_1 !important;
				}
			}
		}
	}
}
.avatardiv {
	img {
		display: none !important;
	}
	&:not(.avatardiv--unknown) {
		background-color: $background-color_1 !important;
		background-repeat: no-repeat;
		background-position: center;
		background-color: $background-color_1 !important;
		background-image: var(--icon-magenta-cloud);
		background-repeat: no-repeat;
		background-position: center;
		box-shadow: unset !important;
	}
}
.sharing-entry {
	.avatardiv.popovermenu-wrapper {
		.icon-more {
			display: none !important;
		}
	}
	.avatar-link-share {
		background-color: $background-color_1 !important;
	}
	align-items: flex-start !important;
}
.app-sidebar-tabs__nav {
	#activityTabView {
		display: none !important;
	}
	margin-top: unset !important;
}
.app-sidebar-tabs__tab {
	#activity {
		display: none !important;
	}
	a.active {
		color: $color_4 !important;
		box-shadow: unset !important;
		border-bottom: unset !important;
	}
	a#sharing {
		text-align: left;
		font-size: 1.25rem;
		text-align: left;
		font-size: 1.25rem;
	}
	a {
		padding: 0 !important;
		padding: 0 !important;
	}
	flex: unset !important;
}
aside {
	.icon-star {
		background-size: 24px !important;
	}
	.icon-more {
		&:hover {
			filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
		}
	}
	.action-item__menutoggle--default-icon {
		&:hover {
			filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
		}
		background-position: center;
		&:before {
			content: unset !important;
		}
	}
	.icon-clippy {
		&:hover {
			filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
		}
	}
	.action-item.action-item--open {
		.action-item__menutoggle {
			background-color: $background-color_1 !important;
		}
	}
	.multiselect {
		.multiselect__tags {
			min-height: 40px !important;
			border-color: $border-color_4 !important;
			color: $color_1;
			font-size: 1rem !important;
			&:hover {
				border-color: $border-color_1 !important;
			}
		}
	}
	input {
		&:not([type='radio']) {
			min-height: 40px !important;
			border-color: $border-color_4 !important;
			color: $color_1;
			font-size: 1rem !important;
			&:hover {
				aside {
					.multiselect {
						.multiselect__tags {
							&:active {
								border-color: $border-color_1 !important;
							}
						}
					}
				}
			}
			&:active {
				border-color: $border-color_1 !important;
			}
		}
	}
	.app-sidebar-header__menu {
		display: none !important;
	}
	select[disabled] {
		color: $color_6 !important;
	}
	.icon-triangle-s {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
	.icon-triangle-n {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}
	input[type='radio'].radio+label {
		&:before {
			border: 1px solid #191919 !important;
		}
	}
	.multiselect__element {
		.option {
			flex-direction: row-reverse;
		}
	}
	.multiselect.sharing-input.multiselect--disabled.multiselect--single {
		background-color: $background-color_1 !important;
		.multiselect__tags {
			input.multiselect__input {
				top: unset !important;
			}
		}
		&:hover {
			.multiselect__tags {
				border-color: $border-color_3 !important;
			}
		}
		&:focus-within {
			.multiselect__tags {
				border-color: $border-color_3 !important;
			}
		}
	}
	.option__icon {
		background-size: 24px !important;
		opacity: 1 !important;
		margin: -0.5rem !important;
	}
	max-height: 867px !important;
	margin-bottom: 5rem !important;
	overflow-x: hidden !important;
	&::-webkit-scrollbar {
		width: 8px !important;
		height: 12px;
	}
	.action-button {
		p {
			width: 190px !important;
		}
	}
	ul.sharing-permissions {
		.action {
			label {
				line-height: 1.5 !important;
			}
		}
	}
}
.app-sidebar__tab {
	padding: 0 !important;
	overflow: unset !important;
	&:focus {
		border-color: $border-color_3 !important;
		box-shadow: unset !important;
	}
}
.action-radio__label {
	padding: 0 !important;
	opacity: unset !important;
	margin-top: 0.5rem;
}
.action-checkbox__label {
	padding: 0 !important;
	opacity: unset !important;
	margin-top: 0.5rem;
}
.action-input__form {
	margin: 0.5rem 0 !important;
}
.multiselect__tags {
	margin-top: 1rem;
}
.sharing-permissions {
	input {
		color: $color_1 !important;
		border: 1px solid #191919 !important;
		height: 48px !important;
		font-size: 1rem;
		&:focus {
			border-color: $border-color_1 !important;
		}
		&:hover {
			border-color: $border-color_1 !important;
		}
	}
	margin-top: 1rem;
	.permissions {
		font-size: 1rem;
		font-weight: bold;
	}
}
.mx-input-wrapper {
	&:hover {
		input {
			border-color: $border-color_2 !important;
		}
		focus {
			border-color: $border-color_2 !important;
		}
		.mx-icon-calendar {
			filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
		}
	}
	&:active {
		.mx-icon-calendar {
			filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
		}
	}
}
#sharing {
	.icon-shared {
		background-image: unset !important;
	}
	.icon-share {
		background-image: unset !important;
	}
}
.avatardiv--unknown {
	background-color: $background-color_1 !important;
	height: 42px !important;
	background-image: unset !important;
	background-color: $background-color_1 !important;
}
.avatar-class-icon {
	background-color: $background-color_1 !important;
}
#app-settings-header {
	.settings-button {
		&:focus {
			background-color: $background-color_1 !important;
		}
	}
}
.sharing-entry__desc {
	select {
		min-height: 1.188rem !important;
		border: unset !important;
		padding: 0 1.5rem 0 1rem !important;
		height: 16px !important;
		color: $color_5 !important;
		font-weight: bold;
		background-repeat: no-repeat;
		background-position: left center;
		background: var(--icon-triangle-s-e20074) no-repeat left -2px center !important;
		font-size: 0.875rem !important;
		color: $color_2 !important;
		font-weight: 400 !important;
	}
	max-width: 150px !important;
}
.action-item--single {
	&:hover {
		background-color: $background-color_1 !important;
	}
	&:focus {
		background-color: $background-color_1 !important;
	}
	&:active {
		background-color: $background-color_1 !important;
	}
	opacity: unset !important;
	opacity: unset !important;
}
.action-item__menutoggle {
	&:hover {
		background-color: $background-color_1 !important;
	}
	&:focus {
		background-color: $background-color_1 !important;
	}
	&:active {
		background-color: $background-color_1 !important;
	}
	opacity: unset !important;
	opacity: unset !important;
}
.popover__inner {
	&:hover {
		li.active {
			background-color: $background-color_1 !important;
			background-color: $background-color_1 !important;
		}
	}
	li.active {
		background-color: $background-color_1 !important;
	}
	li {
		&:hover {
			span {
				color: $color_2 !important;
			}
		}
	}
}
.sharing-notes {
	margin-top: 1.5rem;
	margin-top: 1rem;
	.note-subtitle {
		font-size: 1rem !important;
	}
}
.filedrop-message {
	margin-left: unset !important;
	margin-bottom: 2rem;
	margin-top: 0.5rem;
	color: $color_6 !important;
}
.advanced-settings {
	font-weight: bold;
	margin-top: 2rem;
	font-weight: bold;
	margin-top: 2rem !important;
	li {
		&:last-child {
			.action-input {
				margin-bottom: unset !important;
				margin-bottom: unset !important;
			}
		}
	}
	label {
		&:hover {
			color: $color_2 !important;
		}
		&:active {
			color: $color_2 !important;
		}
	}
	input {
		min-width: 202px !important;
	}
}
.password-message {
	margin-left: unset !important;
	color: $color_6 !important;
	margin-left: unset !important;
	color: $color_6 !important;
	font-weight: normal;
	margin-bottom: 0.25rem;
}
nav {
	.app-sidebar-tabs__nav {
		margin-bottom: 0.25rem;
		margin-bottom: 0.25rem;
	}
}
.action-button {
	opacity: unset !important;
	opacity: unset !important;
}
.note-subtitle {
	margin-top: 0.25rem;
}
.sharing-message {
	margin-top: 0.25rem;
}
p.sharing-input-subtitle {
	font-size: 0.875rem;
	color: $color_7;
}
.add-new-link-btn {
	margin: 0.75rem 0 1rem 0 !important;
	font-size: 1rem !important;
	width: auto !important;
	background-color: $background-color_2 !important;
	border: 1px solid #191919 !important;
	color: $color_1 !important;
	border-radius: 4px !important;
	padding: 0.563rem 1.5rem !important;
	height: 40px !important;
	font-weight: normal !important;
	&:hover {
		color: $color_2 !important;
	}
	&:active {
		color: $color_2 !important;
	}
}
.mx-datepicker-main.mx-datepicker-popup {
	left: 0 !important;
}
.mx-datepicker {
	.mx-table {
		.cell {
			&:hover {
				td {
					div {
						background-color: $background-color_1 !important;
						opacity: 0.7;
						color: $color_2 !important;
					}
				}
				background-color: $background-color_1 !important;
			}
			&:focus {
				td {
					div {
						background-color: $background-color_1 !important;
						opacity: 0.7;
						color: $color_2 !important;
					}
				}
				background-color: $background-color_1 !important;
			}
			opacity: unset !important;
		}
		.cell.actived {
			td {
				div {
					background-color: $background-color_1 !important;
					opacity: 0.7;
					color: $color_2 !important;
				}
			}
			background-color: $background-color_1 !important;
		}
		.cell.active {
			td {
				div {
					background-color: $background-color_1 !important;
					opacity: 0.7;
					color: $color_2 !important;
				}
			}
			background-color: $background-color_1 !important;
		}
		.cell.in-range {
			td {
				div {
					background-color: $background-color_1 !important;
					opacity: 0.7;
					color: $color_2 !important;
				}
			}
			background-color: $background-color_1 !important;
		}
		thead {
			tr {
				th {
					opacity: unset !important;
				}
			}
		}
		.cell.today {
			div {
				color: $color_2 !important;
			}
		}
	}
	svg {
		visibility: hidden !important;
	}
	.mx-datepicker-main {
		font-family: $font-family_2 !important;
	}
	.mx-calendar-header {
		button {
			&:hover {
				background-color: $background-color_1 !important;
				&:before {
					color: $color_2 !important;
				}
			}
			&:focus {
				background-color: $background-color_1 !important;
			}
			color: $color_6 !important;
		}
		button.mx-btn-icon-double-left {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		button.mx-btn-icon-left {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		button.mx-btn-icon-right {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		button.mx-btn-icon-double-right {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		display: inline !important;
		height: 32px !important;
	}
	.mx-time-header {
		button {
			&:hover {
				background-color: $background-color_1 !important;
			}
			&:focus {
				background-color: $background-color_1 !important;
			}
			color: $color_6 !important;
		}
		button.mx-btn-icon-double-left {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		button.mx-btn-icon-left {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		button.mx-btn-icon-right {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		button.mx-btn-icon-double-right {
			&:before {
				opacity: unset !important;
				color: $color_1 !important;
			}
		}
		display: inline !important;
		height: 32px !important;
	}
	.mx-table.mx-table-date {
		thead {
			th {
				min-width: unset !important;
				transition: unset !important;
				flex: unset !important;
				flex-basis: unset !important;
			}
			td {
				min-width: unset !important;
				transition: unset !important;
				flex: unset !important;
				flex-basis: unset !important;
			}
		}
		tbody {
			th {
				min-width: unset !important;
				transition: unset !important;
				flex: unset !important;
				flex-basis: unset !important;
			}
			td {
				min-width: unset !important;
				transition: unset !important;
				flex: unset !important;
				flex-basis: unset !important;
			}
		}
	}
	.mx-table.mx-table-year {
		th {
			min-width: unset !important;
			transition: unset !important;
			flex: unset !important;
			flex-basis: unset !important;
		}
		td {
			min-width: unset !important;
			transition: unset !important;
			flex: unset !important;
			flex-basis: unset !important;
		}
	}
	.mx-table.mx-table-month {
		th {
			min-width: unset !important;
			transition: unset !important;
			flex: unset !important;
			flex-basis: unset !important;
		}
		td {
			min-width: unset !important;
			transition: unset !important;
			flex: unset !important;
			flex-basis: unset !important;
		}
	}
}


.sharing-link-list li:not(.email-share-link ) .custom-select  h5 {
    max-width:150px;
  }

  .sharing-link-list select:disabled{
	background-color:#ffffff !important;
  }
 

.readonly-message {
	margin-top: 0.25rem;
	color: $color_6;
	margin-left: unset !important;
}
.multiselect {
	.multiselect__tags {
		input.multiselect__input {
			top: -3px !important;
		}
	}
	&:hover {
		.multiselect__content-wrapper {
			border: 1px solid #E20074 !important;
			background-color: $background-color_2 !important;
		}
		.multiselect__tags {
			border-color: $border-color_1 !important;
		}
	}
	&:active {
		.multiselect__content-wrapper {
			border: 1px solid #E20074 !important;
			background-color: $background-color_2 !important;
		}
		.multiselect__tags {
			border-color: $border-color_1 !important;
		}
	}
	&:focus-within {
		.multiselect__content-wrapper {
			border: 1px solid #E20074 !important;
			background-color: $background-color_2 !important;
		}
		.multiselect__tags {
			border-color: $border-color_1 !important;
		}
	}
	.multiselect__content-wrapper {
		overflow-y: unset !important;
	}
}
input[type='radio'].checkbox+label {
	&:before {
		border: 1px solid #191919 !important;
	}
}
.option__linetwo {
	display: none !important;
}
li.multiselect__element {
	.unknown {
		display: none !important;
	}
	height: 40px !important;
	max-height: 40px !important;
	.multiselect__option--highlight {
		height: 40px !important;
		max-height: 40px !important;
	}
}
li.multiselect__option {
	height: 40px !important;
	max-height: 40px !important;
}
span#global-lookup {
	height: 40px !important;
	max-height: 40px !important;
}
.multiselect__option {
	span.option {
		height: 40px !important;
		max-height: 40px !important;
	}
}
.multiselect__content-wrapper {
	.multiselect__element {
		.avatardiv {
			&:not(.avatardiv--unknown) {
				background-color: $background-color_1 !important;
				box-shadow: unset !important;
			}
		}
	}
}
.multiselect.multiselect--disabled {
	background-color: $background-color_1 !important;
	box-shadow: unset !important;
	.multiselect__single {
		background-color: $background-color_1 !important;
		box-shadow: unset !important;
	}
}
.multiselect__element {
	.option__icon.icon-mail {
		margin-right: -0.25rem !important;
	}
}
.option__desc--lineone {
	strong {
		font-weight: normal !important;
	}
}
.mx-icon-calendar {
	background-repeat: no-repeat !important;
	width: 24px;
	height: 24px;
}
.mx-table.mx-table-date {
	th {
		font-size: 0.875rem !important;
		color: $color_1 !important;
		border-bottom: unset !important;
	}
	thead {
		tr {
			th {
				color: $color_6 !important;
			}
		}
	}
	td {
		border-bottom: unset !important;
	}
	tbody {
		border-top: 1px solid #e5e5e5;
	}
}
.mx-datepicker-main {
	font-size: 1rem !important;
	font: unset !important;
	font-family: $font-family_1 !important;
	.mx-calendar-header {
		.mx-btn-icon-double-left {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
		.mx-btn-icon-left {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
		.mx-btn-icon-double-right {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
		.mx-btn-icon-right {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
	}
	.mx-time-header {
		.mx-btn-icon-double-left {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
		.mx-btn-icon-left {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
		.mx-btn-icon-double-right {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
		.mx-btn-icon-right {
			background-image: unset;
			&:hover {
				filter: invert(11%) sepia(80%) saturate(6905%) hue-rotate(320deg) brightness(93%) contrast(110%);
			}
		}
	}
}
form {
	div {
		color: $color_4 !important;
	}
}
.mx-calendar-content {
	.cell {
		&:hover {
			background-color: $background-color_1 !important;
		}
	}
}
.cell.not-current-month {
	div {
		color: $color_6 !important;
	}
}
.mx-btn.mx-btn-text.mx-btn-current-month {
	color: $color_1 !important;
}
.cell {
	&:not(.not-current-month) {
		div {
			color: $color_1 !important;
		}
	}
}
.mx-calendar-header {
	button.mx-btn.mx-btn-text.mx-btn-icon-double-left {
		opacity: unset !important;
		color: $color_1 !important;
	}
	button.mx-btn.mx-btn-text.mx-btn-icon-left {
		opacity: unset !important;
		color: $color_1 !important;
	}
	button.mx-btn.mx-btn-text.mx-btn-icon-double-right {
		opacity: unset !important;
		color: $color_1 !important;
	}
	button.mx-btn.mx-btn-text.mx-btn-icon-right {
		opacity: unset !important;
		color: $color_1 !important;
	}
	.mx-calendar-header-label {
		button.mx-btn {
			&:hover {
				color: $color_2 !important;
			}
		}
	}
	button {
		&:not(.button-vue) {
			background-color: $background-color_1 !important;
			outline: unset !important;
			font-weight: unset !important;
			border: unset !important;
		}
	}
}
.mx-calendar-header-label {
	button.mx-btn.mx-btn-text.mx-btn-current-month {
		opacity: unset !important;
		color: $color_1 !important;
	}
	button.mx-btn.mx-btn-text.mx-btn-current-year {
		opacity: unset !important;
		color: $color_1 !important;
	}
	.mx-btn {
		font-size: 1rem !important;
	}
}
.mx-table.mx-table-year {
	td {
		border-bottom: unset !important;
	}
	th {
		border-bottom: unset !important;
	}
}
.mx-table.mx-table-month {
	td {
		border-bottom: unset !important;
	}
	th {
		border-bottom: unset !important;
	}
}
table.mx-table {
	td {
		&:hover {
			div {
				color: $color_2 !important;
			}
		}
	}
}
.sharing-entry.sharing-entry__reshare {
	.sharing-entry__desc {
		h5 {
			white-space: unset !important;
			text-overflow: unset !important;
			overflow: unset !important;
			max-width: unset !important;
		}
		max-width: 190px !important;
	}
}
.custom-select {
	.selected {
		border: unset !important;
		padding-left: unset !important;
		color: $color_2 !important;
		&:after {
			top: 7px !important;
			left: 0px !important;
		}
	}
	h5 {
		cursor: pointer !important;
		text-overflow: ellipsis;
		width: 190px;
		overflow: hidden;
		white-space: nowrap;
	}
	.items {
		padding: 1.5rem 1rem;
		border: unset !important;
		max-width: 198px !important;
		top: 24px;
		border-radius: 8px !important;
		box-shadow: var(--scl-shadow-level-2);
		div {
			&:hover {
				background-color: $background-color_1 !important;
				color: $color_2 !important;
			}
			padding-left: 2.375rem !important;
			padding-bottom: 0.25rem !important;
		}
		div.selectedItem {
			padding-left: 0.5rem !important;
		}
		.selectedItem {
			span {
				display: inline-block !important;
			}
		}
	}
	height: 24px !important;
	border-radius: 12px !important;
	.icon-select-check {
		margin-right: 0.125rem !important;
		vertical-align: middle;
	}

	span.icon-triangle-s {
		margin-left: -0.375rem;
	}
}

.custom-select [class^='icon-'],
.custom-select [class*=' icon-'] {
  min-width: 24px !important;
  min-height: 24px !important;
}


.sharing-sharee-list {
	.sharing-entry__actions {
		margin-left: 2.75rem !important;
	}
}
.selectedItem {
	color: $color_2 !important;
}
.disabledRow {
	.selected {
		color: $color_6 !important;
	}
	.icon-triangle-s {
		opacity: 0.4 !important;
	}
}
.items {
	div {
		min-height: 32px !important;
	}
}
.popover__wrapper {
	li.active {
		&:hover {
			p {
				color: $color_8 !important;
			}
		}
	}
}
section#tab-activity {
	.multiselect.multiselect--disabled {
		background-color: $background-color_1 !important;
		.multiselect__single {
			background-color: $background-color_1 !important;
		}
	}
}
.email-share-link {
	.sharing-entry__actions {
		margin-left: 2.75rem !important;
	}
}
.pending-share-row {
	.fileactions {
		.action-button {
			display: flex;
			align-items: center;
			border: 1px solid #0998fa;
			padding: 0.4rem 1rem;
			border-radius: 8px;
		}
		.action-button.accept {
			background: #0998fa;
			margin-right: 0.5rem;
			span {
				color: $color_9;
			}
		}
		.action-button.reject {
			background: #fff;
			margin-right: 1.5rem;
			span {
				color: $color_10;
			}
		}
		.icon {
			display: none !important;
		}
	}
}
#filestable.view-grid {
	.pending-share-row {
		.fileactions {
			display: none !important;
		}
	}
}
#filestable {
	tbody {
		tr.pending-share-row {
			.selectCheckBox+label {
				&:before {
					opacity: 0.3 !important;
					background: #fff !important;
				}
			}
		}
		tr[data-permissions="0"] {
			background-color: $background-color_7;
		}
		tr[data-permissions="16"] {
			background-color: $background-color_7;
		}
	}
}
#app {
	.custom-select.select {
		line-height: 1.5 !important;
	}
}
.app-sidebar-tabs__content {
	.action-item--single[data-v-2a98ba3b] {
		&:hover {
			background-color: $background-color_1 !important;
		}
		&:focus {
			background-color: $background-color_1 !important;
		}
		&:active {
			background-color: $background-color_1 !important;
		}
	}
	.action-item__menutoggle[data-v-2a98ba3b] {
		&:hover {
			background-color: $background-color_1 !important;
		}
		&:focus {
			background-color: $background-color_1 !important;
		}
		&:active {
			background-color: $background-color_1 !important;
		}
	}
}
#app-sidebar-vue.app-sidebar--full {
	top: 75px !important;
	height: calc(100vh - 141px) !important;
}

